name: build
on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0
        with:
          # NOTE!: https://github.com/GitTools/GitVersion/issues/3614 from tag branch gitversion appends suffix 
          # of tags-v*** which breaks publish right after tag branch build
          versionSpec: '5.11.x'

      - name: Determine Version
        id: gitversion # id to later be referenced
        uses: gittools/actions/gitversion/execute@v0
        with:
          useConfigFile: true

      - name: Setup .NET SDK
        id: dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            9.0.x

      - name: Checkout mockserver e2e
        uses: actions/checkout@v4
        with:
          repository: sinch/sinch-sdk-mockserver
          token: ${{ secrets.MOCKSERVER_REPO_PAT_CI }}
          ref: main
          path: sinch-sdk-mockserver

      - name: Copy feature files from mockserver
        run: |
          mkdir -p tests/Sinch.Tests.Features/features/numbers
          mkdir -p tests/Sinch.Tests.Features/features/sms
          mkdir -p tests/Sinch.Tests.Features/features/voice
          mkdir -p tests/Sinch.Tests.Features/features/verification
          
          # Copy feature files we support
          cp sinch-sdk-mockserver/features/numbers/*.feature tests/Sinch.Tests.Features/features/numbers/
          cp sinch-sdk-mockserver/features/sms/batches.feature tests/Sinch.Tests.Features/features/sms/
          cp sinch-sdk-mockserver/features/sms/delivery-reports.feature tests/Sinch.Tests.Features/features/sms/
          cp sinch-sdk-mockserver/features/sms/groups.feature tests/Sinch.Tests.Features/features/sms/
          cp sinch-sdk-mockserver/features/voice/*.feature tests/Sinch.Tests.Features/features/voice/
          cp sinch-sdk-mockserver/features/verification/*.feature tests/Sinch.Tests.Features/features/verification/

      - name: Run mockserver docker-compose
        run: docker compose up -d
        working-directory: sinch-sdk-mockserver
        
      - name: Install dependencies
        run: dotnet restore

      - name: Check Formatting
        run: dotnet format --verify-no-changes --verbosity diagnostic
        
      - name: Build
        run: dotnet build -p:Version=${{ steps.gitversion.outputs.semVer }} --configuration Release --no-restore

      - name: Test 
        run: dotnet test tests/Sinch.Tests --no-restore --verbosity normal
        
      - name: Test e2e
        run: dotnet test tests/Sinch.Tests.Features --filter "(FeatureTitle~[Voice]|FeatureTitle~[Numbers]|FeatureTitle~[Verification]|FeatureTitle~[SMS][Groups]|FeatureTitle~[SMS][Batches]|FeatureTitle~[SMS][Delivery Reports])&(FeatureTitle!~[Numbers][Emergency Address])" --no-restore --verbosity normal
      
      # --include-symbols?
      - name: Pack
        run: dotnet pack --configuration Release src/Sinch -p:PackageVersion=${{ steps.gitversion.outputs.semVer }} -p:Version=${{ steps.gitversion.outputs.semVer }} --no-restore

      - name: Archive nuget packages
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: src/Sinch/bin/Release/*.nupkg
          if-no-files-found: error
